.lab-default-dark {
    --lab-text-color-1: #fff;

    --lab-nav-bg-color: #020202;

    --btn-icon-color: #00B4FF;
    --btn-icon-border: transparent;
    --btn-icon-hover: #035afc;
}

.lab-default-light {
    --lab-text-color-1: #020202;

    --lab-nav-bg-color: #fff;

    --btn-icon-color: #00B4FF;
    --btn-icon-border: transparent;
    --btn-icon-hover: #035afc;
}