.lab-navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lab-nav-bg-color);
    color: var(--lab-text-color-1);

    .lab-nav-item {
        padding: 8px 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .lab-nav-header {
        padding-left: 16px;
    }
}